# Keycloak Configuration
KEYCLOAK_REALM=flotio
KEYCLOAK_CLIENT_ID=flotio_front
KEYCLOAK_CLIENT_SECRET=ozW5IZzME5qU5kproKmpCsWkYsqE8lKM
KEYCLOAK_ID=flotio_front
KEYCLOAK_SECRET=ozW5IZzME5qU5kproKmpCsWkYsqE8lKM
KEYCLOAK_BASE_URL=https://auth.flotio.ovh
KEYCLOAK_ISSUER=https://auth.flotio.ovh/realms/flotio

# API Configuration
API_PORT=8080
GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxxx

# Database Configuration
DATABASE_URL=postgres://flotio:flotio@localhost:5432/flotio?sslmode=disable

# Github Configuration
GITHUB_WEBHOOK_SECRET=supersecret1234!