# Keycloak Configuration
KEYCLOAK_REALM=flotio
KEYCLOAK_CLIENT_ID=flotio-gateway
KEYCLOAK_CLIENT_SECRET=YxwhleMpAK7XjUxToSQeY7PfD0uzp27J
KEYCLOAK_ID=flotio-gateway
KEYCLOAK_SECRET=YxwhleMpAK7XjUxToSQeY7PfD0uzp27J
KEYCLOAK_BASE_URL=http://localhost:8081
KEYCLOAK_ISSUER=http://localhost:8081/realms/flotio

# API Configuration
API_PORT=8080
GITHUB_CLIENT_ID=xxx
GITHUB_CLIENT_SECRET=xxxx

# Database Configuration
DATABASE_URL=postgres://user:password@localhost:5432/flotio?sslmode=disable
